@model IEnumerable<Tour>

<div class="ml-5">
    <h1>Scheduled Tours</h1>

    @if (Model.Count() != 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tour ID:</th>
                    <th>Name</th>
                    <th>Date/Time</th>
                    <th>Group Size</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {

                    <tr>
                        <td>@a.TourId</td>
                        <td>@a.Name</td>
                        <td>@a.DateTime</td>
                        <td>@a.Size</td>
                        <td>@a.Email</td>
                        <td>@a.Phone</td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <span>No scheduled tours.</span>
    }

</div>