@model Tour

<div class="card card-outline-primary m-1 p-1 border-secondary">
    <div class="card-header bg-secondary">
        <h4>@Model.Group.Name</h4>
    </div>
    <div class="card-body">
        <p>Date/Time: @Model.DateTime</p>
        <p>Group Size: @Model.Group.Size</p>
        <p>Email: @Model.Group.Email</p>
        <p>Phone Number: @Model.Group.Phone</p>
    </div>
</div>